{% raw %}name: Tests

on:
  pull_request:
    paths:
      - '.github/workflows/tests.yml'
      - 'src/**'
      - 'tests/**'
      - 'composer.json'
      - '.php-cs-fixer.dist.php'
      - 'composer-dependency-analyser.php'
      - 'phpstan.neon.dist'
      - 'phpunit.dist.xml'
      - 'rector.php'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/tests.yml'
      - 'src/**'
      - 'tests/**'
      - 'composer.json'
      - '.php-cs-fixer.dist.php'
      - 'composer-dependency-analyser.php'
      - 'phpstan.neon.dist'
      - 'phpunit.dist.xml'
      - 'rector.php'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php:
          - "8.4"
          - "8.5"
        dependencies:
          - "lowest"
          - "highest"

    env:
      extensions: ctype, dom, intl, json, mbstring, openssl, xml, zip, zlib
      key: cache-v1 # can be any string, change to clear the extension cache.

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          key: ${{ env.key }}

      - name: Cache extensions
        uses: actions/cache@v4
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          tools: composer, pecl
          coverage: xdebug
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: Setup Problem Matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Run PHPStan
        run: vendor/bin/phpstan

      - name: Run PHPUnit
        run: vendor/bin/phpunit --testdox --coverage-text --error-format=github{% endraw %}
